
@{
    ViewData["Title"] = "Bandeja";
}
<h1>Bandeja</h1>
<div class="text-center">
</div>
<div class="text-center">
    <form method="post" asp-action="TableroPersonalizado">
        <h2>Juego Personalizado</h2>
        <div class="form-group">
            <div class="form-group">
                <label name="aperturaInversa" class="control-label">Apertura Libre</label>
                <input type="checkbox" name="apertura" value="true" class="form-control" />
            </div>
            <div class="form-group">
                <label name="juegoInverso" class="control-label">Juego Inverso</label>
                <input type="checkbox" name="inverso" value="true" class="form-control" />
            </div>
            <div class="form-group">

                <input type="submit" value="Iniciar Nuevo Juego" />
                </div>
         </div>
    </form>
    <h2><a asp-action="TableroPersonalizado" asp-controller="Juego">Nuevo Juego</a></h2>
    
    <h2 class="display-4">
        Elige la partida que deseas cargar:
    </h2>

    <form method="post" asp-action="Tablero" enctype="multipart/form-data">
        <div class="form-group">
            
            <input type="file" name="upload" />
        </div>
        <div class="form-group">

            <input type="submit" value="Iniciar Juego"/>
        </div>
    </form>

</div>


