@model proyecto1.Models.GameLogic.Tablero;
 
@{
    ViewData["Title"] = "Tablero";
}

<h1>Tablero</h1>

<div>
    @await Component.InvokeAsync("TableroMovil", new { tablero = Model })
</div>

<a asp-controller="Juego" asp-action="Bandeja"><h4>Salir</h4></a>


