@model proyecto1.Models.GameLogic.LogicaTorneo;

<div class="col2">
    <div class="row2">

    </div>
    <div>
        <div class="col1">
            <div class="row1">

            </div>
            <div class="row1">

            </div>
            <div class="row1">

            </div>
        </div>
    </div>
    <div class="row2">

    </div>
</div>