
@{
    ViewData["Title"] = "Torneo";
}

<h1>Torneo</h1>
<h2 class="display-4">
    <a asp-action="VistaTorneo">Iniciar Torneo</a>
</h2>





    <h2 class="display-4">
        Elige la partida que deseas cargar:
    </h2>

    <form method="post" asp-action="Iniciar" enctype="multipart/form-data">
        <div class="form-group">

            <input type="file" name="upload" />
        </div>
        <div class="form-group">

            <input type="submit" value="Iniciar Juego" />
        </div>
    </form>
