/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    
}

/* Provide sufficient contrast against white background */
a {
    color: #fff;
}
/*estos son los colores*/
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.menu-log{
    right: auto;
    float: right;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid;
  border-top-color: #fff;
}
.border-bottom {
    border-bottom: 1px solid;
    border-bottom-color: #fff;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #54bbf2;
}
.footer {
    position: absolute;
    background-color: #0e5bd1;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.col8{
    width: 1080px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

.col4 {
    width: 840px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.col2 {
    width: 600px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.col1 {
    width: 360px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row8{
   width: 120px;
   height: 60px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows:repeat(8, 1fr);
}

.row4 {
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 2fr);
}

.row2 {
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 4fr);
}

.row1 {
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 8fr);
}


.tablero {
    width: 560px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(60px, auto);
    grid-auto-columns: minmax(60px, auto);
}

.tabla {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9,1fr);
    grid-gap: 0px;
    width: 450px;
    float:left;
    
    
}

aside{
    float:left;
    height:100%;
    width: 20%;
}

.bloque {
    border: 3px solid gray;
    width: 50px;
    height: 50px;
}

.verde {
    background: green;
}
.letras{
    background-color: goldenrod;
    text-align: center;
    font-size:20px;
}

.negro {
    background: black;
}

.blanco {
    background: white;
}

.float {
    float: left;
}

.bloque:hover {
    background-color: yellow;
}

.ficha{
    opacity: 25;
    background-color: green;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: center;
 
}

.ficha:hover{
    background-color: deepskyblue;
}
